<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'Log-in', csrfToken:locals.csrfToken}) %>
        <link rel="stylesheet" href="/styles/sign-up-and-log-in.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <div class="box-shadow form-container">
                <h1 class="topic-font">Log-in</h1>
                <% if(inputData.inputError){ %>
                    <p class="normal-font error-box"><%= inputData.errorMessage %></p>
                <% } %>
                <form class="input-form" action="" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <ul class="input-form-list">
                        <li>
                            <label class="input-label topic-font" for="email"
                                >Email</label
                            >
                            <input
                                type="email"
                                class="text-input"
                                name="email"
                                id="email"
                                
                                value="<%= inputData.enteredEmail %>"
                            />
                        </li>
                        <li>
                            <label
                                class="input-label topic-font"
                                for="password"
                            >
                                Password
                            </label>
                            <input
                                type="password"
                                class="text-input"
                                name="password"
                                id="password"
                                required
                                value="<%= inputData.enteredPassword %>"
                            />
                        </li>
                        <li class="action-container">
                            <button class="normal-font">Confirm</button>
                            <a class="normal-font" href="/sign-up">Sign-up instead</a>
                        </li>
                    </ul>
                </form>
            </div>
        </main>
    </body>
</html>
